/*palette*/

:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}

/*main*/

i {
    font-size: 1.3rem;
    color: var(--color-dark-grey);
}

img {
    width: 100%;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--background);
}

.container {
    background-color: var(--color-white);
}

.bg-my-grey {
    background-color: var(--color-headers);
}

.bg-my-turquoise {
    background-color: var(--color-notification);
}

.bg-my-img {
    background-image: url(../img/mine.jpg);
}

.portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.bell {
    background-color: var(--color-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.last-msg-preview {
    font-size: 0.5rem;
}