<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Boolzap</title>
</head>

<body>
    <div id="app" class="p-4">
        <div class="container bg-my-white h-100">
            <div class="row flex-nowrap h-100">
                <div class="col col-md-4 g-0">
                    <!--avatar-->
                    <div class="bg-my-grey d-flex justify-content-between py-3 ps-3 align-items-center border-end">
                        <div class="d-flex align-items-center">
                            <div class="portrait">
                                <img src="img/avatar_1.jpg" alt="photo_avatar_of _mine">
                            </div>
                            <h5>
                                Sofia
                            </h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#">
                                <i class="fa-solid fa-circle-notch me-4"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-message me-4"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-ellipsis-vertical me-4"></i>
                            </a>
                        </div>
                    </div>
                    <!--barra notifiche-->
                    <div class="bg-my-turquoise d-flex py-3 ps-3">
                        <div class="bell text-center">
                            <i class="fa-solid fa-bell-slash pt-3"></i>
                        </div>
                        <div>
                            <h5>
                                Ricevi le notifiche di nuovi messaggi
                            </h5>
                            <a href="#" class="fs-6">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                    <!--searchbar-->
                    <div class="input-group flex-nowrap p-4 bg-my-grey">
                        <span class="input-group-text">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="cerca..." v-model="searchresults">
                    </div>
                    <!--chat contacts-->
                    <div class="flex-grow-1">
                        <ul class="list-group list-group-flush overflow-auto">
                            <li class="list-group-item list-group-item-action text-dark"
                            v-for="(el,index) in contacts" :key="contacts.id">
                                <div class="row g-0 py-2">
                                    <div class="portrait col-2">
                                        <img :src="el.avatar" :alt="el.name">
                                    </div>
                                    <div class="col">
                                        <h5 class="mb-1">
                                            {{el.name}}
                                        </h5>
                                        <small>{{el.messages[el.messages.length -1].message}}</small>
                                    </div>
                                    <div class="col-2">
                                        <small class="last-msg-preview">
                                            {{el.messages[el.messages.length -1].date}}
                                        </small>
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </div>
                <!--main chat-->
                <div class="col col-md-8 d-flex flex-column g-0">
                    <!--header-->
                    <div class=" bg-my-grey d-flex justify-content-between align-items-center py-3">
                        <div class="d-flex align-items-center">
                            <div class="portrait ms-2">
                                <img src="img/avatar_1.jpg" alt="photo_avatar_of _mine">
                            </div>
                            <div>
                                <h5>
                                    nome utente selzionato
                                </h5>
                                <small>
                                    data ultimo accesso
                                </small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <a href="#">
                                <i class="fa-solid fa-magnifying-glass me-4"></i> 
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-paperclip me-4"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-ellipsis-vertical me-4"></i>
                            </a>
                        </div>
                    </div>
                    <!--chat-->
                    <div class="flex-grow-1  overflow-auto bg-my-img">

                    </div>
                    <!--chat spot-->
                    <div class="bg-my-grey d-flex justify-content-between align-items-center p-3">
                        <a href="#">
                            <i class="fa-regular fa-face-smile me-2"></i>
                        </a>
                        <input class="form-control rounded-5" type="text" placeholder="Scrivi un messaggio..." v-model="">
                        <a href="#">
                            <i class="fa-solid fa-microphone ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/script.js"></script>
</body>

</html>